body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

main {
    flex: 1;
}

.intro {
    text-align: center;
    padding: 2em;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.features .feature {
    text-align: center;
}

.features img {
    max-width: 100%;
    height: auto;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    padding: 2em;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-name {
    font-family: 'Pacifico', cursive;
}

.contact-info {
    padding: 2em;
    text-align: center;
}

.contact-text p {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.contact-text .icon {
    margin-right: 0.5em;
    max-width: 30px; 
    height: auto;
}


.contact-info img {
    max-width: 100%;
    height: auto;
}
